<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>editForm</title>
</head>
<body>
<form th:action="@{/friends/edit}" th:object="${friend}" method="post">
    <input type="hidden" th:field="*{id}">

    <label for="name">Name</label>
    <input type="text" id="name" th:field="*{name}" required>

    <label for="email">Email</label>
    <input type="text" id="email" th:field="*{email}" required>

    <input type="submit" th:value="수정">
</form>
</body>
</html>
